[submodule "KiwiDsp"]
	path = KiwiDsp
	url = https://pierreguillot@github.com/KiwiMusic/KiwiDsp.git
[submodule "KiwiGui"]
	path = KiwiGui
	url = https://pierreguillot@github.com/KiwiMusic/KiwiGui.git
[submodule "KiwiObjects"]
	path = KiwiObjects
	url = https://pierreguillot@github.com/KiwiMusic/KiwiObjects.git
